<h3>{{viewTitle}}</h3>

<form action="/therapist" method="POST" autocomplete="off"> <!-- while testing the page, previous form data was showing up, so i turned off autocomplete to prevent this -->
    <input type = "hidden" name="_id" value="{{therapist._id}}">  <!-- for updating, this obtains the previously entered data but it is hidden from the user. otherwise, you would have to update all the data again -->
    <div class = "form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" placeholder="Title" value={{therapist.title}}>
    </div>
    <div class = "form-group">
        <label>First Name*</label>
        <input type="text" class="form-control" name="fname" placeholder="First Name" value="{{therapist.fname}}">
        <div class = "text-danger">
            {{therapist.fnameError}}
        </div>
    </div>
    <div class = "form-group">
        <label>Surname*</label>
        <input type="text" class="form-control" name="sname" placeholder="Surname" value="{{therapist.sname}}">
        <div class = "text-danger">
            {{therapist.snameError}}
        </div>
    </div>
    <div class = "form-group">
        <label>Mobile Number*</label>
        <input type="text" class="form-control" name="mobilePhone" placeholder="Mobile Number" value="{{therapist.mobilePhone}}">
        <div class = "text-danger">
            {{therapist.mobilePhoneError}}
        </div>
    </div>
    <div class = "form-group">
        <label>Home Phone Number*</label>
        <input type="text" class="form-control" name="homePhone" placeholder="Home Phone Number" value="{{therapist.homePhone}}">
        <div class = "text-danger">
            {{therapist.homePhoneError}}
        </div>
    </div>
    <div class = "form-group">
        <label>Email Address*</label>
        <input type="text" class="form-control" name="email" placeholder="Email Address" value="{{therapist.email}}">
        <div class = "text-danger">
            {{therapist.emailError}}
        </div>
    </div>
    <div class = "form-group">
        <label>Address Line 1*</label>
        <input type="text" class="form-control" name="addressLine1" placeholder="Address Line 1" value="{{therapist.addressLine1}}">
        <div class = "text-danger">
            {{therapist.addressLine1Error}}
        </div>
    </div>
    <div class = "form-group">
        <label>Address Line 2</label>
        <input type="text" class="form-control" name="addressLine2" placeholder="Address Line 2" value="{{therapist.addressLine2}}">
    </div>
    <div class = "form-group">
        <label>Town*</label>
        <input type="text" class="form-control" name="town" placeholder="Town" value="{{therapist.town}}">
        <div class = "text-danger">
            {{therapist.townError}}
        </div>
    </div>
    <div class = "form-group">
        <label>County/City*</label>
        <input type="text" class="form-control" name="countyCity" placeholder="County/City" value="{{therapist.countyCity}}">
        <div class = "text-danger">
            {{therapist.countyCityError}}
        </div>
    </div>
    <div class = "form-group">
        <label>Eircode</label>
        <input type="text" class="form-control" name="eircode" placeholder="Eircode" value="{{therapist.eircode}}">
        <div class = "text-danger">
            {{therapist.eircodeError}}
        </div>
    </div>
    <div class="form-group"><!-- creating buttons with bootstrap to navigate through the web page -->
        <button type = "submit" class="btn btn-info"><i class = "fa fa-database"></i> Submit</button>    <!-- submit button with styling from bootstrap -->
        <a class="btn btn-secondary" href="/session/list"><i class="fa fa-list-alt"></i> View All</a>
        <a class="btn btn-secondary" style="background-color: blue;" href="/client"><i class="fa fa-list-alt"></i> Client Entry</a>
        <a class="btn btn-secondary" style="background-color: lightblue;" href="/session"><i class="fa fa-list-alt"></i> Session Entry</a>
    </div>
</form>